# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

auth_config.json
config.js
instance/*

semantic/dist/*
semantic/src/semantic.less
semantic/src/theme.less
semantic/tasks
semantic/src/definitions
semantic/src/themes
semantic/gulpfile.js

.cache
dist/*

public/*
semantic/src/theme.config
semantic/src/site/collections/breadcrumb.overrides
semantic/src/site/collections/breadcrumb.variables
semantic/src/site/collections/form.overrides
semantic/src/site/collections/form.variables
semantic/src/site/collections/grid.overrides
semantic/src/site/collections/grid.variables
semantic/src/site/collections/menu.overrides
semantic/src/site/collections/menu.variables
semantic/src/site/collections/message.overrides
semantic/src/site/collections/message.variables
semantic/src/site/collections/table.overrides
semantic/src/site/collections/table.variables
semantic/src/site/elements/button.overrides
semantic/src/site/elements/button.variables
semantic/src/site/elements/container.overrides
semantic/src/site/elements/container.variables
semantic/src/site/elements/divider.overrides
semantic/src/site/elements/divider.variables
semantic/src/site/elements/flag.overrides
semantic/src/site/elements/flag.variables
semantic/src/site/elements/header.overrides
semantic/src/site/elements/header.variables
semantic/src/site/elements/icon.overrides
semantic/src/site/elements/icon.variables
semantic/src/site/elements/image.overrides
semantic/src/site/elements/image.variables
semantic/src/site/elements/input.overrides
semantic/src/site/elements/input.variables
semantic/src/site/elements/label.overrides
semantic/src/site/elements/label.variables
semantic/src/site/elements/list.overrides
semantic/src/site/elements/list.variables
semantic/src/site/elements/loader.overrides
semantic/src/site/elements/loader.variables
semantic/src/site/elements/rail.overrides
semantic/src/site/elements/rail.variables
semantic/src/site/elements/reveal.overrides
semantic/src/site/elements/reveal.variables
semantic/src/site/elements/segment.overrides
semantic/src/site/elements/segment.variables
semantic/src/site/elements/step.overrides
semantic/src/site/elements/step.variables
semantic/src/site/globals/reset.overrides
semantic/src/site/globals/reset.variables
semantic/src/site/globals/site.overrides
semantic/src/site/globals/site.variables
semantic/src/site/modules/accordion.overrides
semantic/src/site/modules/accordion.variables
semantic/src/site/modules/chatroom.overrides
semantic/src/site/modules/chatroom.variables
semantic/src/site/modules/checkbox.overrides
semantic/src/site/modules/checkbox.variables
semantic/src/site/modules/dimmer.overrides
semantic/src/site/modules/dimmer.variables
semantic/src/site/modules/dropdown.overrides
semantic/src/site/modules/dropdown.variables
semantic/src/site/modules/embed.overrides
semantic/src/site/modules/embed.variables
semantic/src/site/modules/modal.overrides
semantic/src/site/modules/modal.variables
semantic/src/site/modules/nag.overrides
semantic/src/site/modules/nag.variables
semantic/src/site/modules/popup.overrides
semantic/src/site/modules/popup.variables
semantic/src/site/modules/progress.overrides
semantic/src/site/modules/progress.variables
semantic/src/site/modules/rating.overrides
semantic/src/site/modules/rating.variables
semantic/src/site/modules/search.overrides
semantic/src/site/modules/search.variables
semantic/src/site/modules/shape.overrides
semantic/src/site/modules/shape.variables
semantic/src/site/modules/sidebar.overrides
semantic/src/site/modules/sidebar.variables
semantic/src/site/modules/sticky.overrides
semantic/src/site/modules/sticky.variables
semantic/src/site/modules/tab.overrides
semantic/src/site/modules/tab.variables
semantic/src/site/modules/transition.overrides
semantic/src/site/modules/transition.variables
semantic/src/site/views/ad.overrides
semantic/src/site/views/ad.variables
semantic/src/site/views/card.overrides
semantic/src/site/views/card.variables
semantic/src/site/views/comment.overrides
semantic/src/site/views/comment.variables
semantic/src/site/views/feed.overrides
semantic/src/site/views/feed.variables
semantic/src/site/views/item.overrides
semantic/src/site/views/item.variables
semantic/src/site/views/statistic.overrides
semantic/src/site/views/statistic.variables
src/semantic-ui/theme.config
src/semantic-ui/site/collections/breadcrumb.overrides
src/semantic-ui/site/collections/breadcrumb.variables
src/semantic-ui/site/collections/form.overrides
src/semantic-ui/site/collections/form.variables
src/semantic-ui/site/collections/grid.overrides
src/semantic-ui/site/collections/grid.variables
src/semantic-ui/site/collections/menu.overrides
src/semantic-ui/site/collections/menu.variables
src/semantic-ui/site/collections/message.overrides
src/semantic-ui/site/collections/message.variables
src/semantic-ui/site/collections/table.overrides
src/semantic-ui/site/collections/table.variables
src/semantic-ui/site/elements/button.overrides
src/semantic-ui/site/elements/button.variables
src/semantic-ui/site/elements/container.overrides
src/semantic-ui/site/elements/container.variables
src/semantic-ui/site/elements/divider.overrides
src/semantic-ui/site/elements/divider.variables
src/semantic-ui/site/elements/flag.overrides
src/semantic-ui/site/elements/flag.variables
src/semantic-ui/site/elements/header.overrides
src/semantic-ui/site/elements/header.variables
src/semantic-ui/site/elements/icon.overrides
src/semantic-ui/site/elements/icon.variables
src/semantic-ui/site/elements/image.overrides
src/semantic-ui/site/elements/image.variables
src/semantic-ui/site/elements/input.overrides
src/semantic-ui/site/elements/input.variables
src/semantic-ui/site/elements/label.overrides
src/semantic-ui/site/elements/label.variables
src/semantic-ui/site/elements/list.overrides
src/semantic-ui/site/elements/list.variables
src/semantic-ui/site/elements/loader.overrides
src/semantic-ui/site/elements/loader.variables
src/semantic-ui/site/elements/rail.overrides
src/semantic-ui/site/elements/rail.variables
src/semantic-ui/site/elements/reveal.overrides
src/semantic-ui/site/elements/reveal.variables
src/semantic-ui/site/elements/segment.overrides
src/semantic-ui/site/elements/segment.variables
src/semantic-ui/site/elements/step.overrides
src/semantic-ui/site/elements/step.variables
src/semantic-ui/site/globals/reset.overrides
src/semantic-ui/site/globals/reset.variables
src/semantic-ui/site/globals/site.overrides
src/semantic-ui/site/globals/site.variables
src/semantic-ui/site/modules/accordion.overrides
src/semantic-ui/site/modules/accordion.variables
src/semantic-ui/site/modules/chatroom.overrides
src/semantic-ui/site/modules/chatroom.variables
src/semantic-ui/site/modules/checkbox.overrides
src/semantic-ui/site/modules/checkbox.variables
src/semantic-ui/site/modules/dimmer.overrides
src/semantic-ui/site/modules/dimmer.variables
src/semantic-ui/site/modules/dropdown.overrides
src/semantic-ui/site/modules/dropdown.variables
src/semantic-ui/site/modules/embed.overrides
src/semantic-ui/site/modules/embed.variables
src/semantic-ui/site/modules/modal.overrides
src/semantic-ui/site/modules/modal.variables
src/semantic-ui/site/modules/nag.overrides
src/semantic-ui/site/modules/nag.variables
src/semantic-ui/site/modules/popup.overrides
src/semantic-ui/site/modules/popup.variables
src/semantic-ui/site/modules/progress.overrides
src/semantic-ui/site/modules/progress.variables
src/semantic-ui/site/modules/rating.overrides
src/semantic-ui/site/modules/rating.variables
src/semantic-ui/site/modules/search.overrides
src/semantic-ui/site/modules/search.variables
src/semantic-ui/site/modules/shape.overrides
src/semantic-ui/site/modules/shape.variables
src/semantic-ui/site/modules/sidebar.overrides
src/semantic-ui/site/modules/sidebar.variables
src/semantic-ui/site/modules/sticky.overrides
src/semantic-ui/site/modules/sticky.variables
src/semantic-ui/site/modules/tab.overrides
src/semantic-ui/site/modules/tab.variables
src/semantic-ui/site/modules/transition.overrides
src/semantic-ui/site/modules/transition.variables
src/semantic-ui/site/views/ad.overrides
src/semantic-ui/site/views/ad.variables
src/semantic-ui/site/views/card.overrides
src/semantic-ui/site/views/card.variables
src/semantic-ui/site/views/comment.overrides
src/semantic-ui/site/views/comment.variables
src/semantic-ui/site/views/feed.overrides
src/semantic-ui/site/views/feed.variables
src/semantic-ui/site/views/item.overrides
src/semantic-ui/site/views/item.variables
src/semantic-ui/site/views/statistic.overrides
src/semantic-ui/site/views/statistic.variables
database-backup/config.yaml
database-backup/metadata/actions.graphql
database-backup/metadata/actions.yaml
database-backup/metadata/allow_list.yaml
database-backup/metadata/cron_triggers.yaml
database-backup/metadata/functions.yaml
database-backup/metadata/query_collections.yaml
database-backup/metadata/remote_schemas.yaml
database-backup/metadata/tables.yaml
database-backup/metadata/version.yaml
database-backup/migrations/1603697351957_init/up.sql
database-backup/migrations/1603698361325_init/up.sql
database-backup/track-migrations/config.yaml
database-backup/track-migrations/metadata/actions.graphql
database-backup/track-migrations/metadata/actions.yaml
database-backup/track-migrations/metadata/allow_list.yaml
database-backup/track-migrations/metadata/cron_triggers.yaml
database-backup/track-migrations/metadata/functions.yaml
database-backup/track-migrations/metadata/query_collections.yaml
database-backup/track-migrations/metadata/remote_schemas.yaml
database-backup/track-migrations/metadata/tables.yaml
database-backup/track-migrations/metadata/version.yaml
yardsale-manager-db/*
oldsrc/*
.next/*