
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E9EDF0;
  font-family: 'Open Sans', sans-serif !Important;
  color: #2d3142;
}



#MainContent {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: "20px" !important;
  border-radius: 0 !important;
  border: 0 !important;
  border-left: 1px solid #d0d0d06e !important;
}



/* Top Nav Items */

.item.topNavItem.active {
  background: rgba(0, 0, 0, 0.2) !important;
}

.item.topNavItem.active::before {
  background: rgba(0, 0, 0, 0) !important;
}












.layout-sidebar {
  grid-area: layout-sidebar;
  height:100vh;
  
  /* width:2vw; */
  /* background: rgb(24, 83, 212); */
}

.layout-content {
  grid-area: layout-content;
  height: 100vh;
  background-color: #E9EDF0;
}

.layout-notifications {
  grid-area: layout-notifications;
  height: 5vh;
  display: none;
  background-color: #FFFFFF;
}

/* .layout-top {
  grid-area: layout-top;
  height: 2vh;
  backgroud-color: #E9EDF0;
} */

.wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 65px auto;
  /* grid-template-rows: 50px 10px; */
  grid-template-areas:
  "layout-sidebar layout-notifications"  
  "layout-sidebar layout-content";
}

.font-dark {
  color: #2C2626;
}

/* .inverted {
  background-color: #0346D2
} */







/* .sidebar-item > i:hover {
  color: #fff;
} */  


