//
// Vars
//
// Colors
$black: #2d3142;
$grey: #bfc0c0;
$red: #ec3d1e;
$green: #36ec1e;

$primaryColor: #324e7b;
$backgroundColor: #324e7b;

$white: #ffffff;
// $white: #f1f1f1;

$buttonHoverOpacity: 0.8;

// Buttons
$cancelButtonColor: #757575;
$saveButtonColor: $primaryColor; // rgb(79, 93, 117);
$newButtonColor: $primaryColor; // rgba(197, 198, 202, 0.639);

$sidebarWidth: 5vh;

.item,
.text,
a,
.button,
input,
textarea,
label {
  font-family: "Open Sans", sans-serif !important;
}

html,
body {
  background-color: $primaryColor !important;
  font-family: "Lato", sans-serif;
}

//
//
//
// END GRID DEFINITIONS
//
//
//

.grid-sidebar {
  grid-area: layout-sidebar;
  height: 100vh;
  background-color: $primaryColor !important;

  @media only screen and (max-width: 799px) {
    display: none !important;
  }

  @media only screen and (max-width: 800px) {
    display: grid !important;
  }

  /* width:2vw; */
  /* background: rgb(24, 83, 212); */
}

@media only screen and (min-width: 800px) {
  .grid-bottom-bar {
    display: none;
  }
}

@media only screen and (max-width: 799px) {
  .grid-bottom-bar {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 5vh;
    background-color: $primaryColor !important;

    /* width:2vw; */
    /* background: rgb(24, 83, 212); */
  }
}

.grid-content {
  grid-area: layout-content;
  height: 100vh;
  background-color: $white;
  border: none !important;
}

.grid-notifications {
  // grid-area: layout-notifications;
  height: auto;
  min-height: 36px !important;
  position: fixed !important;
  top: 14px !important;
  right: 22px !important;
  z-index: 10000;
  background-color: $primaryColor !important;
}

#NotificationMessage {
  box-shadow: none;
  color: $primaryColor !important;
  min-height: 36px !important;
  .content {
    padding: 4px !important;
    .icon:hover {
      cursor: pointer;
    }
  }
}

#NotificationMessage.success {
  border-left: solid 3px $green !important;
}

#NotificationMessage.info {
  border-left: solid 3px $primaryColor !important;
}

#NotificationMessage.error {
  border-left: solid 3px $red !important;
}

.grid-wrapper {
  display: grid;
  grid-gap: 0px;

  /* grid-template-rows: 50px 10px; */

  @media only screen and (min-width: 800px) {
    grid-template-columns: $sidebarWidth auto;
    grid-template-areas:
      "layout-sidebar layout-content"
  }

  @media only screen and (max-width: 799px) {
    grid-template-columns: 100vw;
    grid-template-areas:
      "layout-content";
  }
}

.grid-sidebar-settings {
  grid-area: grid-sidebar-settings;
  width: $sidebarWidth;
  /* border: 4px solid red; */
}

.grid-sidebar-middle {
  grid-area: grid-sidebar-middle;
  width: $sidebarWidth;
}

.grid-sidebar-subgrid {
  display: grid;
  width: $sidebarWidth;
  grid-template-rows: 30vh auto;
  grid-template-columns: 15vw;
  grid-template-areas:
    "grid-sidebar-settings"
    "grid-sidebar-middle";
  /* border: 4px solid red; */
}

//
//
//
// END GRID DEFINITIONS
//
//
//
#MainContent {
  // padding: 0 !important;
  height: 100vh !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  border: none !important;
  border-radius: 0 !important;
  // margin: 0 !important;
  width: 100% !important;

  @media only screen and (max-width: 800px) {
    padding-bottom: 10vh !important;
  }
}



#SidebarMiddle,
#SettingsSidebar {
  border-radius: 0 !important;
  border: none !important;
  // position: fixed !important;
  // top: 0;
  // left: 0;
  background-color: $primaryColor;
  width: $sidebarWidth !important;

  .icon {
    width: $sidebarWidth !important;
  }
  .icon.sidebar-item {
    background-color: transparent;
    color: $white;
    background-color: $primaryColor;
    width: auto !important;

    &:hover {
      opacity: $buttonHoverOpacity;
      cursor: pointer;
      background-color: $white !important;
      color: $primaryColor !important;
    }
  }

  .active.item {
    background-color: transparent;
    .icon.sidebar-item {
      color: $primaryColor;
      background-color: $white;
    }
    &:hover {
      opacity: $buttonHoverOpacity;
    }
  }
}

.main-segment {
  background-color: $backgroundColor;
  border: none !important;
}

.ui.segment:not(.inverted):not(.primary-background) {
  // background-color: $white !important;
}

.ui.segment.primary-background {
  background-color: $primaryColor !important;
}

.ui.labeled.icon.menu .item {
  min-width: 5em !important;
}

.h-100 {
  height: 100% !important;
}

.borderless {
  border: none !important;
}

#SettingsPortal {
  margin-top: 0 !important;
  position: fixed;
  z-index: 1000;
  border-radius: 0 !important;
  background-color: $white !important;
  // border-radius: 8px !important;

  @media only screen and (min-width: 800px) {
    top: 0;
    left: $sidebarWidth;
  }

  @media only screen and (max-width: 799px) {
    bottom: 5vh;
    right: 0;
  }
}

.sidebar-item:hover {
  background-color: $primaryColor;
  opacity: $buttonHoverOpacity;
  cursor: pointer;
  color: $white;
}

.sidebar-sub-item:hover {
  background-color: $primaryColor !important;
  opacity: $buttonHoverOpacity;
  cursor: pointer;
  // color: $white;
}

// .sidebar-sub-item:hover {
//   background-color: rgba(50, 67, 118, 0.62) !important;
//   //   background: rgba(50, 67, 118, 0.62) !important;
//   i {
//     color: #fff !important;
//   }
// }

ui.menu .ui.dropdown .menu > .item:hover {
  background: $primaryColor !important;
  opacity: 0.8;
  // color: rgba(0, 0, 0, 0.95) !important;
}

.sidebar-item {
  line-height: 1;
}

.corner-label {
  border-right: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  // border-bottom: 0 !important;
}

.left-input-borderless-label {
  border: 0 !important;
}

@media (max-width: 650px) {
  .buttons.yardsale-actions-mobile-buttons {
    .button {
      display: block !important;
      text-align: center !important;
      // padding-left: 0 !important;
      // padding-right: 0 !important;
      // min-width: 26px !important;

      // i {
      //     min-width: 26px !important;
      // }
    }
  }
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

#SidebarTop {
  width: 65px !important;
  border: 0 !important;
}

#SidebarMiddle {
  height: "100%";
  border-radius: 0;
  width: 65px !important;
  border: 0 !important;
}



.ui.button.cancel {
  background-color: $cancelButtonColor !important; // rgba(50, 67, 118, 0.62) !important;
  color: $white !important;

  &:hover {
    opacity: 0.8 !important;
  }

  &:active,
  &:focus {
    text-decoration: underline !important;
  }
}
//
// Button - Save
//
.ui.button.save {
  background-color: $saveButtonColor !important; // rgba(50, 67, 118, 0.62) !important;
  color: $white !important;

  &:hover {
    opacity: 0.8 !important;
  }

  &:active,
  &:focus {
    text-decoration: underline !important;
  }
}
//
// Button - New
//
.ui.button.new {
  background-color: $newButtonColor !important; // rgba(50, 67, 118, 0.62) !important;
  color: $white !important;

  &:hover {
    opacity: 0.8 !important;
  }

  &:active,
  &:focus {
    text-decoration: underline !important;
  }
}

.ui.segment.rounded {
  border-radius: 8px !important;
}

.borderless {
  border: 0 !important;
}

// .icon {
//   color: $primaryColor;

//   :hover {
//     color: $white !important;
//   }
// }

.info-popup-icon:hover {
  cursor: help !important;
}

.info-popup-icon {
  color: $primaryColor !important;
}

.ui.segment.yardsale-list-segment:hover {
  cursor: pointer;
  background-color: $primaryColor !important;
  color: $white !important;
}
.ui.menu .ui.dropdown .menu > .item:hover {
  background-color: rgba(50, 67, 118, 0.62) !important;
}

// From CSS

input.cashier-large-input,
.input.cashier-large-input,
.dropdown.cashier-large-input {
  height: 66px !important;
  font-size: 20px !important ;
  width: 100%;
  text-align: right !important;
  /* max-width: 165px !important; */
  padding-left: 26px !important;
}

input.cashier-large-input.money,
.input.cashier-large-input.money,
.dropdown.cashier-large-input.money {
  max-width: 165px !important;
}

.cashier-large-input > i.icon {
  font-size: 26px;
}

.dropdown > .text {
  line-height: 2;
  font-size: 20px !important;
}

/* TODO: Move to LESS */
.ui.popup {
  z-index: 100000 !important;
}

.inverted {
  background-color: #1e1f1a !important;
}

.modal > i.close.icon {
  position: fixed;
  top: 13px;
  right: 14px;
  color: #000000;
}

.segment {
  border-radius: unset !important;
}

/* Extra Util Classes */
.medium.text {
  font-size: 1.5rem;
}

.large.text {
  font-size: 2rem;
}

/* Margins */
.m0 {
  margin: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.mr0 {
  margin-right: 0 !important;
}

/* Padding */
.p0 {
  padding: 0 !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pl0 {
  padding-left: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pt16 {
  padding-top: 16px !important;
}

.pb16 {
  padding-bottom: 16px !important;
}

.py16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.py0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.px0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.py8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.px8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.pt8 {
  padding-top: 8px !important;
}

.pb8 {
  padding-bottom: 8px !important;
}

.my8 {
  margin-top: 8px !important;
  padding-bottom: 8px !important;
}

.mx8 {
  margin-left: 8px !important;
  padding-right: 8px !important;
}

.mt8 {
  margin-top: 8px !important;
}

.mb8 {
  margin-bottom: 8px !important;
}

.my16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.mt16 {
  margin-top: 16px !important;
}

.mx16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mb16 {
  margin-bottom: 16px !important;
}

.mx0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.my0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/* 

*****************************************************************
MEDIA QUERIES MOBILE ( < 800 )
*****************************************************************

*/

@media (max-width: 800px) {
  /* Margins */
  .mobile-m0 {
    margin: 0 !important;
  }

  .mobile-mt0 {
    margin-top: 0 !important;
  }

  .mobile-mb0 {
    margin-bottom: 0 !important;
  }

  .mobile-ml0 {
    margin-left: 0 !important;
  }

  .mobile-mr0 {
    margin-right: 0 !important;
  }

  /* Padding */
  .mobile-p0 {
    padding: 0 !important;
  }

  .mobile-pt0 {
    padding-top: 0 !important;
  }

  .mobile-pb0 {
    padding-bottom: 0 !important;
  }

  .mobile-pl0 {
    padding-left: 0 !important;
  }

  .mobile-pr0 {
    padding-right: 0 !important;
  }

  .mobile-py16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }

  .mobile-py8 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }

  .mobile-py0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .mobile-px0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .mobile-my16 {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
  }

  .mobile-my8 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }

  .mobile-mx16 {
    margin-left: 16px !important;
    margin-right: 16px !important;
  }

  .mobile-mx8 {
    margin-left: 8px !important;
    margin-right: 8px !important;
  }

  .mobile-mt0 {
    margin-top: 0px !important;
  }

  .mobile-mb16 {
    margin-bottom: 16px !important;
  }

  .mobile-my0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  /* OTHER */
  .mobile-small-button {
    font-size: 12px !important;
  }
}

.hover-pointer:hover {
  cursor: pointer;
}

img:hover {
  cursor: pointer;
}

.inverted-hover:hover {
  color: white !important;
}

/* UI Dropdown */

.ui.selection.dropdown {
  line-height: 20px !important;
}

#LoadingSegment {
  height: 100%;
  width: 100%;
  background-color: $white !important;
}

.timepicker {
  min-width: 200px;
}

// .button.list-action-icon {
//   &:hover {
//     color: $primaryColor !important;

//   }
//   .icon:hover {
//     color: $primaryColor !important;
//   }
// }

.ui.input.pl0 {
  & > input {
    padding-left: 0 !important;
  }
}

#HomePageLoginButton {
  position: fixed;
  top: 16px;
  right: 16px;
  width: 110px;
  z-index: 100;
  // height: 26px;
  // padding-top: 6px;
}

#BottomNavBar {
  background-color: $primaryColor !important;

  .button.active,
  .icon.active {
    background-color: $white !important;
    color: $primaryColor !important;

    &:hover {
      opacity: $buttonHoverOpacity !important;
      // background-color: $primaryColor !important;
      // color: $white !important;
    }
  }

  // .icon {
  //   padding-top: 0 !important;
  //   padding-bottom: 0 !important;
  // }

  .icon.button:not(.active) {
    background-color: $primaryColor !important;
    color: $white !important;

    &:hover {
      //  opacity: $buttonHoverOpacity !important;
      background-color: $white !important;
      color: $primaryColor !important;
      opacity: $buttonHoverOpacity;
    }
  }

  .icon.active {
    background-color: $white !important;
    color: $primaryColor !important;
  }
}



#LeftNavBar {
  background-color: $primaryColor !important;
  width: $sidebarWidth;
  .button.active,
  .icon.active {
    background-color: $white !important;
    color: $primaryColor !important;

    &:hover {
      opacity: $buttonHoverOpacity !important;
      // background-color: $primaryColor !important;
      // color: $white !important;
    }
  }

  // .icon {
  //   padding-top: 0 !important;
  //   padding-bottom: 0 !important;
  // }

  .icon.button:not(.active) {
    background-color: $primaryColor !important;
    color: $white !important;

    &:hover {
      //  opacity: $buttonHoverOpacity !important;
      background-color: $white !important;
      color: $primaryColor !important;
      opacity: $buttonHoverOpacity;
    }
  }

  .icon.active {
    background-color: $white !important;
    color: $primaryColor !important;
  }
}


.settings-portal-button {
  background-color: $primaryColor !important;
  color: $white !important;
  height: 5vh !important;
  position: fixed ;
  
  @media only screen and (max-width: 799px) {
    // Mobile
    right: 0 !important;
    bottom: 0 !important;
    padding-top: 1.5vh !important;

  }

  @media only screen and (min-width: 799px) {
    // Desktop
    left: 0 !important;
    top: 0 !important;
    padding-left: 0 !important;

  }

  &:hover {
    background-color: $white !important;
    color: $primaryColor !important;
  }
}

tr.primary {
  background-color: $primaryColor !important;
  & > th {
    color: $white !important;
  }
}

.label.primary {
  background-color: $primaryColor !important;
  color: $white !important;

  & > .input > input {
    color: $white !important;

  }
}